# Node dependencies
node_modules/

# Build output
dist/
build/

# Caches
.cache/
.vite/
.eslintcache
coverage/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# if need
# public/assets/output.css

# Environment variables
.env
.env.*
!.env.example

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
Desktop.ini
